.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.button {
    padding: 10px 15px;
    /*background: var(--tg-theme-button-color);*/
    /*color: var(--tg-theme-button-text-color);*/
    background: black;
    margin-top: 10px;
    color: aliceblue;
    border: none;
    outline: none;
    cursor: pointer;
}

.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}