.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.button {
    padding: 10px 15px;
    /*background: var(--tg-theme-button-color);*/
    /*color: var(--tg-theme-button-text-color);*/
    background: black;
    margin-top: 10px;
    color: aliceblue;
    border: none;
    outline: none;
    cursor: pointer;
}